{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="/static/js/site.js" defer></script>
    <script defer src="/static/js/bundle.js" defer></script>
    <link rel="icon" href="/static/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet"></head>
</head>
<title>Document</title>

{{block "css" .}}
{{end}}
</head>

<body x-data="{ page: 'blog-grid', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
x-init="
     darkMode = JSON.parse(localStorage.getItem('darkMode'));
     $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
:class="{'b eh': darkMode === true}">
    {{block "content" .}}
    {{end}}

    {{block "js" .}}
    {{end}}
</body>

</html>
{{end}}